@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #888 #f1f1f1; /* Firefox */
}

/* Для Chrome, Safari и Edge */
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 2px solid #f1f1f1;
}

*::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@layer base {
  body {
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    background-color: #fff;
  }

  h1 {
    font-size: 30px;
    font-weight: 700;
  }

  h2 {
    font-size: 24px;
    font-weight: 700;
  }

  h3 {
    font-size: 22px;
    font-weight: 700;
  }

  h4 {
    font-size: 20px;
    font-weight: 700;
  }

  h6 {
    font-size: 14px;
    font-weight: 400;
  }

  p {
    font-size: 16px;
    font-weight: 400;
  }

  button svg {
    width: 20px;
    height: 20px;
  }

  svg {
    transition: all 0.3 ease;
  }
}
